<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>jQuery UI Datepicker - Default functionality</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="js/datepicker-ko.js"></script>
	<link rel="stylesheet" href="bootstrap-table.css">
	<script src="bootstrap-table.js"></script>
	<script>
		var example=jQuery.noConflict();
		example(function() {
			example( "#datepicker" ).datepicker({
				showOn: "both",
				showButtonPanel: true, 
				currentText: '오늘 날짜', 
				closeText: '닫기', 
				dateFormat: "yy-mm-dd"

			});
			example( "#datepicker" ).datepicker( example.datepicker.regional[ "ko" ] );
		});
	</script>
	<script>
		var example=jQuery.noConflict();
		example(function() {
			example( "#datepicker2" ).datepicker({
				showOn: "both",
				showButtonPanel: true, 
				currentText: '오늘 날짜', 
				closeText: '닫기', 
				dateFormat: "yy-mm-dd"

			});
			example( "#datepicker2" ).datepicker( example.datepicker.regional[ "ko" ] );
		});
	</script>
</head>


<div>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#games" aria-controls="games" role="tab" data-toggle="tab">게임별 설치현황</a></li>
		<li role="presentation"><a href="#channels" aria-controls="channels" role="tab" data-toggle="tab">채널별 설치현황</a></li>

	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="games" >
			<div class="row">
				<div class="col-md-6">
					<div class="well">
						<form role="form" action="getgames" method="get">
						<div class="row">
						<div class="col-md-6">
							게임선택
							<select class="form-control">
								<option></option>
								<option value="PA">게임A</option>
								<option value="CT">게임B</option>
								<option value="NY">게임C</option>
								<option value="MD">게임D</option>
								<option value="VA">게임E</option>
							</select>
							</div>
							<div class="col-md-6">
							지역
							<select class="form-control" name="select-region" id="select-region">
								<option>지역선택</option>
								<option value="전국">전국</option>
								<option value="서울">서울</option>
								<option value="경기">경기</option>
								<option value="인천">인천</option>
								<option value="강원">강원</option>
								<option value="충북">충북</option>
								<option value="충남">충남</option>
								<option value="대전">대전</option>
								<option value="전북">전북</option>
								<option value="광주">광주</option>
								<option value="경북">경북</option>
								<option value="경남">경남</option>
								<option value="울산">울산</option>
								<option value="대구">대구</option>
								<option value="부산">부산</option>
								<option value="제주">제주</option>
								<option value="세종">세종</option>
							</select>
							</div>
							</div>
							<br>
							<br>
							설치일자 <input type="text" id="datepicker">
							~ <input type="text" id="datepicker2">
							<input type="submit" value = "조회" class = "btn btn-success">
						</form>
					</div>
				</div>
			</div>

			<table id="table-pagination" data-url="/bootstrapTestforJson" data-cache="false"  data-toggle="table">
				<thead>
					<tr>
						<th data-field="id" data-align="right" >Item ID</th>
						<th data-field="name" data-align="center" >Item Name</th>
						<th data-field="price" >Item Price</th>
					</tr>
				</thead>
			</table>
		</div>
		<div role="tabpanel" class="tab-pane" id="channels">
			<div class="row">
				<div class="col-md-6">
					<div class="well">
						<form role="form" action="getchannel" method="get">
							채널선택
							<select class="combobox">
								<option></option>
								<option value="PA">게임A</option>
								<option value="CT">게임B</option>
								<option value="NY">게임C</option>
								<option value="MD">게임D</option>
								<option value="VA">게임E</option>
							</select>
							<br>
							<br>
							설치일자 <input type="text" id="datepicker">
							~ <input type="text" id="datepicker2">
							<input type="submit" value = "조회" class = "btn btn-success">
						</form>
					</div>
				</div>
			</div>
			<table id="table-pagination" data-url="/bootstrapTestforJson" data-cache="false"  data-toggle="table">
				<thead>
					<tr>
						<th data-field="id" data-align="right" >Item ID</th>
						<th data-field="name" data-align="center" >Item Name</th>
						<th data-field="price" >Item Price</th>
					</tr>
				</thead>
			</table>
		</div>
		<div role="tabpanel" class="tab-pane" id="status">
			<div class="row">
				<div class="col-md-9">
					<div class="well">
						<form role="form" action="getstatus" method="get">
							채널선택
							<select class="combobox">
								<option></option>
								<option value="PA">게임A</option>
								<option value="CT">게임B</option>
								<option value="NY">게임C</option>
								<option value="MD">게임D</option>
								<option value="VA">게임E</option>
							</select>
							지역
							<select class="combobox">
								<option></option>
								<option value="PA">전국</option>
								<option value="CT">서울</option>
								<option value="NY">경기</option>
								<option value="MD">인천</option>
								<option value="VA">강</option>
							</select>
							<br>
							<div class="checkbox">
								게임선택
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option1"> 게임없음
								</label>
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox2" value="option2"> 게임A
								</label>
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox3" value="option3"> 게임B
								</label>
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox3" value="option3"> 게임C
								</label>
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox3" value="option3"> 게임D
								</label>
							</div>
							등록일자 <input type="text" id="datepicker">
							~ <input type="text" id="datepicker2">
							<select class="combobox">
								<option></option>
								<option value="PA">상호1</option>
								<option value="CT">상호2</option>
								<option value="NY">상호3</option>
								<option value="MD">상호4</option>
								<option value="VA">상호5</option>
							</select>
							<input type="text">
							<button class="btn btn-success" id="load-data" data-method="load">조회</button>
							</form>
						</div></div></div>
						<table  class="table" id="resultTable">
							<thead>
								<tr>
									<th data-field="code" data-align="right"> PC방코드</th>
									<th data-field="name" data-align="center" >상호명</th>
									<th data-field="region" >지역</th>
									<th data-field="address" >주소</th>
									<th data-field="phone" >전화번호</th>
									<th data-field="mobile" >휴대전화</th>
									<th data-field="user" >대표자명</th>
									<th data-field="ip" >IP수</th>
									<th data-field="status" >상태</th>
									<th data-field="channel" >관리채널</th>
									<th data-field="regdate" >등록일</th>
									<th data-field="games" >설치게임</th>
								</tr>
							</thead>
							<tr>
								{{#value}}
								<td ><a href="#">{{code}}</a></td>
								<td>{{name}}</td>
								<td>{{regin}}</td>
								<td>{{address}}</td>
								<td>{{phone}}</td>
								<td>{{mobile}}</td>
								<td>{{user}}</td>
								<td>{{ip}}</td>
								<td>{{status}}</td>
								<td>{{channel}}</td>
								<td>{{regdate}}</td>
								<td>{{games}}</td>
								{{/value}}
							</tr>
						</table>
						<input id="create-user" value = "신규등록" class = "btn btn-success"> </div>
					<div role="tabpanel" class="tab-pane" id="settings">
						<h3>관리자</h3>
					</div>
				</div>
			</div>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  var example=jQuery.noConflict();
  example(function() {
    var dialog, form,
 
      name = example( "#name" ),
      email = example( "#email" ),
      password = example( "#password" ),
      allFields = example( [] ).add( name ).add( email ).add( password ),
      tips = example( ".validateTips" );
 
    function addUser() {

      alert("ajax 통신")
    }
 
    dialog = example( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 400,
      width: 450,
      modal: true,
      buttons: {
        "수정": addUser,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );
      }
    });
 
    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      addUser();
    });
 
    example( "#create-user" ).button().on( "click", function() {
      dialog.dialog( "open" );
    });
  });
  </script>
</head>
<body>
 
<div id="dialog-form" title="Create new user">
  <form>
    <fieldset>
      <label for="name">PC방 상호</label>
      <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all"><br>
      <label for="email">주소</label>
      <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all"><br>
      <label for="password">대표쟈명</label>
      <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all"><br>
       <label for="name">전화번호</label>
      <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all"><br>
       <label for="name">휴대전화</label>
      <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all"><br>
      <label for="email">채널</label>
      <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all"><br>
      <label for="password">관리종료일</label>
      <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

