<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>jQuery UI Datepicker - Default functionality</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="js/datepicker-ko.js"></script>
	<link rel="stylesheet" href="bootstrap-table.css">
	<script src="bootstrap-table.js"></script>
	<script>
		var example=jQuery.noConflict();
		example(function() {
			example( "#datepicker" ).datepicker({
				altField: "#date1",
				showOn: "both",
				showButtonPanel: true, 
				currentText: '오늘 날짜', 
				closeText: '닫기', 
				dateFormat: "yy-mm-dd"

			});
			var d = new Date();
			d.setMonth(d.getMonth() - 1);
			example( "#datepicker" ).datepicker( example.datepicker.regional[ "ko" ] );
			example("#datepicker").datepicker("setDate", d);
		});
	</script>
	<script>
		var example=jQuery.noConflict();
		example(function() {
			example( "#datepicker2" ).datepicker({
				altField: "#date2",
				showOn: "both",
				showButtonPanel: true, 
				currentText: '오늘 날짜', 
				closeText: '닫기', 
				dateFormat: "yy-mm-dd"

			});
			example( "#datepicker2" ).datepicker( example.datepicker.regional[ "ko" ] );
			example("#datepicker2").datepicker("setDate", new Date());
		});
	</script>
</head>
<div class="row">
	<div class="col-md-6">
		<div class="well">
			<form role="form" action="installbyc" method="get">
				<div class="row">
					<div class="col-md-6">
						채널선택
						<div class="form-group">
							<select class="form-control" name="select-game" id="select-game">
								{{#channellist}}
								<option value={{list}}>{{list}}</option>
								{{/channellist}}
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
				<input type="hidden" id="date1" name="date1" class="form-control">
				<input type="hidden" id="date2" name="date2" class="form-control">
				</div>
				설치일자 <input type="text" id="datepicker">

				~ <input type="text" id="datepicker2">
				<input type="submit" value = "조회" class = "btn btn-success">
			</form>
		</div>
	</div>
</div>
{{#query}}
<center>[{{query}}]</center>
<br>
<table class="table">
<tr bgcolor="lightgray">
	<td rowspan="2">일자</td>
	{{#games}}
	<td colspan="2">{{list}}</td>
	{{/games}}
</tr>
<tr bgcolor="lightgray">
{{#games}}
	<td>PC방수</td>
	<td>IP수</td>
	{{/games}}
</tr>
{{#sumlist}}
<tr>
	<td><center>{{date}}</center></td>
	{{#value}}
	<td>{{pc}}</td>
	{{/value}}
</tr>
{{/sumlist}}
</table>
{{/query}}

