
<b>채널</b> {{channelCount}} / {{channelTotalCount}}
<b>PC</b> {{pcusingcount}} / {{pcTotalcount}}
<b>IP</b> {{ipcount}} / {{ipTotalCount}}
<br>
<div class="table-responsive">
<table class="table" id="tableID">
<tr>
<td>날짜</td>
{{#value}}
<td>{{channel}}</td>
{{/value}}
</tr>

<tr>
<td>{{date}}</td>
{{#value}}
<td><a>{{count}}</a></td>
{{/value}}
</tr>
</table>
<div>
<script>
$('td').click(function(){
  var col = $(this).parent().children().index($(this));
  var row = $(this).parent().parent().children().index($(this).parent());
  if(col > 0 && row > 0){
	  var MyRows = $('.table').find('tbody').find('tr');
	  var datevalue = $(MyRows[row]).find('td:eq(0)').html();
	  var channelvalue = $(MyRows[0]).find('td:eq(' + col + ')').html();	
	  window.open(location.origin +"/ipperpcdetail" + "/" + datevalue + "/" + channelvalue , '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');
  }




});
</script>