<b>채널</b> {{channelCount}} / {{channelTotalCount}}
<b>PC</b> {{pcusingcount}} / {{pcTotalcount}}
<b>IP</b> {{ipcount}} / {{ipTotalCount}}
<table class="table">
{{#value}}
<tr>
<td>{{pc}}</td>
<td>{{channel}}</td>
<td>{{count}}</td>
<td>{{date}}</td>
</tr>
{{/value}}